$white: #fff;
$black: #000;

$large-bp: 1200px; 
$medium-bp: 992px;
$small-bp: 768px;
$xsmall-bp: 576px;

$bg-purple1:#48394e;
$bg-purple2:rgba(74, 45, 90, 0.6);
$text-purple:#a398a8;

$orange:#fca311;

$light-gray:rgba(0,0,0,0.2);
$dark-gray:rgba(0,0,0,0.5);
$darker-gray:rgba(0,0,0,0.8);