
/* Header ****************************************************************************/
.header{
    background: linear-gradient(to bottom, $bg-purple1, $bg-purple2, transparent ), url('../images/hotel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    background-position: center;
    color: $white;
    padding: 1rem;
    /*Header title--------------------------------------*/
    &__title{
        margin:10rem auto 2rem;
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
    }
    /*Header subtitle--------------------------------------*/
    &__subtitle{
        text-align: center;
        position: relative;
        width: 30rem;
        margin:auto;
        font-size: 2rem;
        @include respond-to(small){
            width: 100%;
        }
        &::before{
            position: absolute;
            content: "";
            width: 18rem;
            height: 0.5rem;
            background-color:$orange;
            left: -60%;
            top:50%;
            @include transform(translateY(-50%));
            @include respond-to(small){
                display: none;
            }
        }
        &::after{
            position: absolute;
            content: "";
            width: 18rem;
            height: 0.5rem;
            background-color:$orange;
            right: -60%;
            top:50%;
            @include transform(translateY(-50%));
            @include respond-to(small){
                display: none;
            }
        }
    }
}
/* Booking ****************************************************************************/
.booking{
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem rgba(0,0,0,0.5);
    margin: -7rem auto 2rem;
    max-width: 100rem;
    width: 90%;
    /*Booking form--------------------------------------*/
    &__form{
        @include flexContainer;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 1rem;
        &--item{
            padding:1rem;
            label{
                display: block;
                margin-bottom: 0.5rem;
            }
            input[type="submit"]{
                @extend .button-basic ;
            }
            select{
                min-width:5rem;
            }
        }
    }
}
/* AboutUs ****************************************************************************/
.aboutUs{
    @include flexContainer;
    margin: 8rem auto;
    padding: 2rem;
    @include respond-to(small){
        display: block;
    }
    /*About Us text--------------------------------------*/
    &__text{
        flex:50%;
        p{
            text-align: justify;
            margin: 2rem auto;
            span{
                color: $orange;
            }
        }
    }
    /* About Us pictures--------------------------------------*/
    &__pictures{
        flex:50%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 1rem;
        justify-content: center;
        @include respond-to(xsmall){
            display: block;
        }
        &--img{
            overflow: hidden;
            border-radius:0.5rem;
            max-width: 20rem;
            @include respond-to(xsmall){
                margin: 1rem auto;
            }
            > img{
                width: 100%;
                height: auto;
                transition: transform 0.5s;  
                &:hover{
                    @include transform(scale(1.2));
                }
            }
        }
        
        &--img:nth-child(1){
            grid-area: 1/1/2/2;
        }
        &--img:nth-child(2){
            grid-area: 2/1/3/2;
            
        }
        &--img:nth-child(3){
            grid-area: 1/2/3/3;
        }

    }
}
/* Facilities ****************************************************************************/
.facilities{
    max-width: 100rem;
    width: 95%;
    margin: 8rem auto;
    padding: 1rem;
    border: 1px solid $light-gray;
    border-radius: 0.5rem;
    /* Facilities Header (tabs)--------------------------------------*/
    &__header{
        @include flexContainer;
        margin-bottom: 2rem;
        &--item{
            flex:25%;
            text-align: center;
            color: $bg-purple2;
            font-size: 2rem;
            cursor: pointer;
            padding: 2rem;
            @include respond-to(xsmall){
                flex:50%;
            }
            i,i::before,i::after{
                display: block;
                font-size: 3rem;
            }
        }
        .active{
            color: $orange;
        }
    }
    /* Facilities content (tab-content)--------------------------------------*/
    &__content{
        @include flexContainer;
        display: none;
        > div{
            flex:50%;
            text-align: justify;
            padding: 1rem;
            @include respond-to(xsmall){
                flex:100%;
            }
            > h3{
                margin-bottom: 2rem;
            }
            p{
                color: $darker-gray;
            }
            > img{
                width:100%;
                height: auto;
            }
        }
    }
    .default{
        display: flex;
    } 
}
/* Rooms ****************************************************************************/
.rooms{
    max-width: 100rem;
    margin: 8rem auto;
    position: relative;
    /* Rooms title--------------------------------------*/
    &__title{
        text-align: center;
        margin-bottom:3rem;
    }
    /* Rooms Room--------------------------------------*/
    &__room{
        width: 100%;
        display: none;
        flex-wrap: wrap;
        &--description{
            flex:50%;
            background-color: $bg-purple1;
            color: $white;
            padding: 2rem 1rem 2rem 4rem;
            @include respond-to(small){
                flex:100%;
            }
            .title{
                font-size: 3.2rem;
                margin-bottom: 3rem;
                text-shadow:  0.3rem 0.3rem 0.5rem rgba(0,0,0);
            }
            .price{
                color: $orange;
                font-size: 2.4rem;
                font-weight: bold;
            }
            ul{
                font-size: 1.8rem;
                list-style-position: inside;
                list-style-type: none;
                li{
                    margin-top: 1rem;
                }
            }
            button{
                @extend .button-basic ;
                margin: 1rem 0 7rem;
            }
        }
        &--pic{
            flex:50%;
            @include respond-to(small){
                flex:100%;
            }
            > img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    /*Room Btn--------------------------------------*/
    &__buttons{
        width: 30rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transform(translateX(-50%));
    }
    &__buttons button{
        width: 15rem;
        height: 5rem;
        text-align: center;
        cursor: pointer;
        border: none;
    }
    &__buttons button:nth-child(2){
        background-color: $white;
        color: $black;
    }
    &__buttons button:nth-child(1){
        background-color: $orange;
        color: $white;
    }
}
/* Food Gallery ****************************************************************************/
.foodGallery{
    max-width: 100rem;
    margin: auto;
    /* Food Gallery Title--------------------------------------*/
    &__title{
        text-align: center;
        margin-bottom: 3rem;
    }
    /* Food Galley content--------------------------------------*/
    &__content{
        @include clearfix;
        max-width: 100rem;
        width: 100%;
        margin: 2rem auto;
        display: grid;
        justify-content: center;
        grid-template-columns:20rem 20rem 22rem 27rem ;
        grid-template-rows: 18rem 18rem 28em;
        grid-gap: 2rem;
        @include respond-to(medium){
            display: block;
        }
        &--item{
            position: relative;
            @include respond-to(medium){
                width: 100%;
                max-width: 30rem;
                margin: 2rem auto; 
            }
            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top:0;
                opacity: 0;
                transition: opacity 0.4s;
            }
            &:hover .overlay{
                opacity: 100%;
                background-color:rgba($bg-purple2,0.7);
                border: 0.2rem solid $orange;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            button{
                font-family: ArialBold;
                position: absolute;
                left: 1rem;
                top: 1rem;
                z-index: 1;
                @extend .button-basic;
            }
        }
        &--item:nth-child(1){
            grid-area: 1 / 1 / 3 / 3; 
        }
        &--item:nth-child(2){
            grid-area: 1 / 3 / 3 / 4;
        }
        &--item:nth-child(3){
            grid-area: 1 / 4 / 2 /5;
        }
        &--item:nth-child(4){
            grid-area: 2 /4 / 3 /5;
        }
    
        &--item:nth-child(5){
            grid-area: 3 /1 / 4 /2;
        }
        &--item:nth-child(6){
            grid-area: 3 /2 / 4 /3;
        }
        &--item:nth-child(7){
            grid-area: 3 /3 / 4 /5;
        }
    } 
}