
/* Header ****************************************************************************/
.header{
    background: linear-gradient(to bottom, $bg-purple1, $bg-purple2, transparent ), url('../images/hotel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    background-position: center;
    color: $white;
    padding: 1rem;
    /*Header title--------------------------------------*/
    &__title{
        margin:10rem auto 2rem;
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
    }
    /*Header subtitle--------------------------------------*/
    &__subtitle{
        text-align: center;
        position: relative;
        width: 30rem;
        margin:auto;
        font-size: 2rem;
        @include respond-to(small){
            width: 100%;
        }
        &::before{
            position: absolute;
            content: "";
            width: 18rem;
            height: 0.5rem;
            background-color:$orange;
            left: -60%;
            top:50%;
            @include transform(translateY(-50%));
            @include respond-to(small){
                display: none;
            }
        }
        &::after{
            position: absolute;
            content: "";
            width: 18rem;
            height: 0.5rem;
            background-color:$orange;
            right: -60%;
            top:50%;
            @include transform(translateY(-50%));
            @include respond-to(small){
                display: none;
            }
        }
    }
}
/* Booking ****************************************************************************/
.booking{
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem rgba(0,0,0,0.5);
    margin: -7rem auto 2rem;
    max-width: 100rem;
    width: 90%;
    /*Booking form--------------------------------------*/
    &__form{
        @include flexContainer;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 1rem;
        &--item{
            padding:1rem;
            label{
                display: block;
                margin-bottom: 0.5rem;
            }
            input[type="submit"]{
                @extend .button-basic ;
            }
            select{
                min-width:5rem;
            }
        }
    }
}
/* AboutUs ****************************************************************************/
.aboutUs{
    @include flexContainer;
    margin: 8rem auto;
    padding: 2rem;
    @include respond-to(small){
        display: block;
    }
    /*About Us text--------------------------------------*/
    &__text{
        flex:50%;
        p{
            text-align: justify;
            margin: 2rem auto;
            span{
                color: $orange;
            }
        }
    }
    /* About Us pictures--------------------------------------*/
    &__pictures{
        flex:50%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 1rem;
        justify-content: center;
        @include respond-to(xsmall){
            display: block;
        }
        &--img{
            overflow: hidden;
            border-radius:0.5rem;
            max-width: 20rem;
            @include respond-to(xsmall){
                margin: 1rem auto;
            }
            > img{
                width: 100%;
                height: auto;
                transition: transform 0.5s;  
                &:hover{
                    @include transform(scale(1.2));
                }
            }
        }
        
        &--img:nth-child(1){
            grid-area: 1/1/2/2;
        }
        &--img:nth-child(2){
            grid-area: 2/1/3/2;
            
        }
        &--img:nth-child(3){
            grid-area: 1/2/3/3;
        }

    }
}